# ---- Python ----
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
*.pdb
*.log

# ---- Virtual Environments ----
venv/
.env/
.envrc
env/
.venv/

# ---- Distribution / Packaging ----
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.manifest
*.spec

# ---- Testing / Coverage ----
.coverage
.coverage.*
.cache
.nox/
.pytest_cache/
.tox/
.mypy_cache/
.dmypy.json
.pyre/

# ---- IDE / Editor ----
.vscode/
.idea/
*.swp
*.swo

# ---- OS / Misc ----
.DS_Store
Thumbs.db
